@page "/Users"
@inject AppCore appCore

<h3>
    @if (appCore.Factory is HospitalFactory)
    {
        <p>Patients</p>
    }
    else
    {
        <p>Systems</p>
    }
</h3>
<hr />

<table class="table">
    <thead>
        <tr>
            <th style="width:40px"></th>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>BirthDate</th>            
            @if (appCore.Factory is HospitalFactory)
            {
                <th>Insurance</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (this.UsersIterator is not null)
        {
            var number = 1;
            @while (this.UsersIterator.HasNext())
            {
                var user = this.UsersIterator.MoveNext();
                <tr>
                    <th>@number</th>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                            <td>@user.BirthDate</td>
                    @if (appCore.Factory is HospitalFactory)
                    {
                        <td>@(((Patient)user).Insurance)</td>                        
                    }
                </tr>
                number++;
            }
        }
    </tbody>
</table>

@code {
    private Iterator<AUser>? UsersIterator;

    #region Overrides of ComponentBase

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (this.appCore.Users is not null)
        {
            this.UsersIterator = this.appCore.Users.createIterator();
        }
    }

    #endregion
}